
.titulo {
    font-size: 4vh; /* Fontes relativas para ajustar em diferentes telas */
    margin-top: 4vh;
    margin-bottom: 4vh;
    text-align: center;
}

.item {
   
    background-color: #AFF26D;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0 10px 10px 0;
    padding: 0;
    width: 100%; /* Faz o background verde preencher o espaço */
}

.titulo-item {
    font-size: 2.5vh; /* Ajuste do tamanho para telas menores */
    display: flex;
    align-items: center;
    justify-content: baseline;
    cursor: pointer;
}

.titulo-item svg {
    margin-left: 10px;
}

.texto-item {
    font-size: 2vh;
    text-align: justify;
}

.texto-item-container {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
    opacity: 0;
}

.texto-item-container.open {
    max-height: 1000px;
    opacity: 1;
}

.texto-item-container.closed {
    max-height: 0;
    opacity: 0;
}
