

@font-face {
    font-family: 'Glancyr Neue';
    src: url('../../assets//fonts/glancyr.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
.item {
    background-color: #AFF26D;
    padding: 10px;
}

.group-item {
    display: grid;
    grid-template-columns: 2fr 6fr 2fr; /* Número, título e ícone */
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 100%; /* Garante que o conteúdo ocupe 100% */
}

.container-servicos{
    margin-top: 5vh;
    margin-bottom: 5vh;
}
.number {
    text-align: left;
}

.titulo-item {
    font-size: 5.5vh; /* Ajuste conforme necessário */
    cursor: pointer;
    font-family:'Glancyr Neue';
}

.texto-item-container {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
    opacity: 0;
    width: 100%; /* Garante que o texto ocupe 100% */
}
.texto-item-container.open {
    max-height: 1000px;
    opacity: 1;
    width: 100%;
}

.texto-item-container.closed {
    max-height: 0;
    opacity: 0;
}
.linha {
    width: 100%;  /* comprimento da linha */
    height: 1px;  /* espessura da linha */
    background-color: black ; /* cor da linha */
    opacity: 20%;

  }