.container {
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
}

/* Estilos para telas grandes e médias */
@media (min-width: 768px) {
    .foto-about {
        float: left;
        width: 40%;
        margin-right: 20px;
    }

    .col-lg-10 h2 {
        font-size: 2.5rem;
        text-align: left;
    }

    .col-lg-10 p {
        font-size: 1.2rem;
        text-align: justify;
    }

    .ler-mais {
        display: none;
    }

    .hidden-content {
        display: block;
    }

    .botao-about {
        width: 50vh;
        background-color: #acf464 !important;
        border: 2px solid #3030309d !important;
        border-radius: 50px !important;
        padding: 3vh !important;
        margin: 3vh;
    }
}

/* Estilos para telas pequenas */
@media (max-width: 767px) {
    .container-foto {
        display: flex;
        justify-content: center;
        margin-bottom: 3vh;
    }

    .foto-about {
        height: 30vh;
        width: 30vh;
    }

    .col-lg-10 h2 {
        font-size: 1.5rem;
        text-align: center;
    }

    .col-lg-10 p {
        font-size: 1rem;
        text-align: justify;
    }

    .col-lg-10 p:first-of-type {
        display: block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .hidden-content {
        display: none;
    }

    .ler-mais {
        display: block;
        text-align: center;
        margin-top: 10px;
        cursor: pointer;
        color: blue;
    }

    .hidden-content.show {
        display: block;
    }

    .botao-about {
        width: 40vh;
        background-color: #acf464 !important;
        border: 2px solid #3030309d !important;
        border-radius: 50px !important;
    }}