/* Estrutura básica da seção */
.about-section {
    padding: 50px 0;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  /* Foto responsiva */
  .about-photo {
    margin-bottom: 20px;
  }
  
  .about-photo img {
    border-radius: 5%;
    max-width: 45vh;
    width: 100%;
    height: auto;
    margin-right: 5vh;
  }
  
  /* Texto */
  .about-text p {
    font-size: 2.5vh !important;
    line-height: 1.5;
    margin-bottom: 15px;
  }
  
  /* Responsividade para telas maiores */
  @media (min-width: 768px) {
    .about-content {
      flex-direction: row;
      text-align: left;
    }
  
    .about-photo {
      margin-right: 20px;
    }
  
    .about-text {
      flex: 1;
    }
  
    .about-text p {
      font-size: 1.1rem;
    }
  }
  
  /* Botão de "Ler mais/menos" */
  .toggle-button {
    background-color: transparent;
    border: none;
    color: #668447;
    cursor: pointer;
    font-size: 1rem;
    padding: 10px 0;
    text-decoration: underline;
  }
  
  /* Conteúdo extra oculto por padrão */
  .extra-content {
    display: none;
  }
  
  .extra-content.show {
    display: block;
  }
  
  /* Estilos para telas pequenas */
  @media (max-width: 767px) {
    .about-text p {
      font-size: 1rem;
    }
  
    .about-photo img {
      max-width: 150px;
    }
  }
  