/* Estilos gerais para o rodapé */
.footer {
    background-color: #1a1a1a; /* Cor de fundo escura */
    color: #ffffff; /* Texto branco */
    padding: 40px 0; /* Espaçamento superior e inferior */
    text-align: left;
}

.logotipo{
 display: flex;
 align-items: center;
 justify-content: center;
}

.link:hover{
    text-decoration: underline;
    cursor: pointer;
    transition: 0.3s;
}
p{
    font-family: 'Glancyr Neue';
}
@font-face {
    font-family: 'Glancyr Neue';
    src: url('../../assets//fonts/glancyr.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
/* Media Query para telas pequenas */
@media (max-width: 768px) {
    .logotipo {
        justify-content: flex-start; /* Alinha o logotipo à esquerda */
        margin-bottom: 20px; /* Espaçamento inferior para separar do conteúdo abaixo */
    }

    .logotipo img {
        width: 80%; /* Diminui o tamanho do logotipo */
        height: auto; /* Mantém a proporção do logotipo */
    }
    
    .footer {
        padding: 20px 10px; /* Ajusta o espaçamento do rodapé em telas pequenas */
    }

    p {
        font-size: 14px; /* Ajusta o tamanho da fonte se necessário */
    }
}